

  .landing-page{
    background: #e7f9e0;
  }
  .park-photos-container{
    display: flex;
    margin: 20px;
 
  }
  .park-photos-container img{
    border: 1px solid rgb(188, 188, 188);
 
  }

 .paired-photos img{
    width: 350px;
    height: 230px;
    border-radius: 5px;
    
  }
 .toilet-image img{
    width:700px;
    max-height: 700px;
    margin-right:10px;
  }
  .landing2{
    margin-bottom:5px;
  }
