/* BathroomDetail.scss */

.bathroomDetail {
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 120vh; /* Increase min-height for a longer content area */
}

.bathroomDetail__grid {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}



.bathroomDetail__img img {
    width: 100%;
    height: auto;
    max-height: 400px; /* Adjust the max-height as needed */
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

.bathroomDetail__name {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.bathroomDetail__info {
    border-top: 2px solid #4282ba;
    padding-top: 15px;
    margin-top: 15px;
}

.bathroomDetail__info p {
    font-size: 20px;
    color: #333;
    margin-bottom: 12px;
}

.bathroomDetail__info p span {
    font-weight: bold;
    color: #4282ba;
}

.bathroomDetail__bio {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}
